body { background-color: #d6acac;}
.container { 
    background-color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100%;
    text-align: center;
    min-width: 350px;
    max-width: 800px;
    margin: 10px auto;
    padding: 20px;
    border-radius: 1em;
}

h1 { color: cadetblue;}
h3.question {font-size: 2em;}
.info {font-size: 1.5em;}
.answer {
    background-color: #df691a;
    color: #fff;
    border-radius:  10px;
    padding: 1em;
    text-align: center;
    cursor: pointer;
    width: 60%;
    font-size: 1.5em;
    margin: 10px auto 0;
}
.answer:hover {
    background-color: cadetblue;
}
.answer.selected {
    background-color: cadetblue;
}
.button {
    background-color: cadetblue;
    color: #fff;
    border-radius: 10px;
    padding: 10px 5px;
    text-align: center;
    cursor: pointer;
    font-size: 2em;
}
.mini.button{
    display: block;
    width: 30%;
}
.next {
    float:right;
}
.previous{
    float: left;
}
.button:hover {
    background-color: #80b7b9;
}
.button-holder{
    width: 60%;
    padding: .5em 0;
    margin: .5em auto;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}

.response p {
    margin: 50px auto;
    font-size: 3em;
}

.response, 
.missed,
.result {
    display: none;
}

#quiz-area {
    display: none;
  }


ul.result-area-ul {
list-style-type: none; /* Remove bullets */
padding: 0; /* Remove padding */
margin: 0; /* Remove margins */
}

li.result-area-li {
    margin-bottom: 1em;
}